/*-------homepage-animation--------*/
@keyframes opc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes downtoup {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes selfsize {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}

/*-------element-animation---------*/

@keyframes fishmove {
    0.0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 3vh);
    }
}

@keyframes brushmove {
    0.0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: translate(15vw, 5vh) rotate(-10deg);

    }
}

@keyframes linesayu {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes lineappear {
    0.0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }

    97.8% {
        opacity: 0;
    }
}

@keyframes homecanshake {
    0.0% {
        transform-origin: bottom;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }

    24.5% {
        transform: rotate(10deg);
        transform-origin: bottom;
    }

    49.9% {
        transform: rotate(0);
        transform-origin: bottom;
    }

    74.6% {
        transform: rotate(-10deg);
        transform-origin: bottom;
    }
}

/*------------------------
html{
  font-size: 16px;
}


------------------- */

body::-webkit-scrollbar {
    display: none;
}

.body {
    margin: 0;


}

/*-------homepage---------*/

a img {
    max-width: 100%;
    height: auto;
    z-index: 10;
}

.homepage {
    height: 100vh;
    width: 100vw;
    animation: 2s ease-out 0s 1 opc;
    overflow: hidden;
    z-index: 10;

}

.h_left {
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.forbg {
    height: 100vh;
    background-image: url(pics/burn.jpg);
    background-size: cover;
    background-position: center;
    animation: 60s ease-out 0s forwards selfsize;
    z-index: 10;
}

.h_right {
    height: 100vh;
    overflow: hidden;
    animation: 2s ease-out 0s 1 downtoup;
    z-index: 10;
    background: white;
}

.h_motto {
    writing-mode: vertical-lr;
    font-family: 'Noto Serif TC', serif;
    font-size: 100px;
    /*6.25em*/
    margin: 0px auto;
    margin-top: 25vh;
    z-index: 10;
}



.h_logo {
    width: 250px;
    margin: 0px auto;
    margin-top: 5vh;
    z-index: 10;
    animation: homecanshake 1s ease 0s 1 normal none;
    animation-delay: 2s;
}



.h_logo img {
    transition: all 0.3s ease 0s;
    z-index: 10;
}

.h_logo:hover img {
    transform: scale(1.1, 1.1);
    opacity: 0.6;
    z-index: 10;
}

/*------menu-btn--------*/

.big_select {
    z-index: 200;
}

.menu-btn {
    width: 64px;
    height: 64px;
    background: #9a974c;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-btn span {
    /*  top: 9px;
    position: relative; */
    width: 60%;
    height: 3px;
    background: #fff;
    display: block;
    margin: 9px auto;
    transition: all 0.3s;
}

.menu-box {
    width: 30%;
    height: 100%;
    background: #9a974c;
    position: fixed;
    top: 0;
    right: -40%;
    padding-left: 40px;
    padding-top: 50px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.menu-box a {
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 12vh;

    text-decoration: none;

}

.contacts {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.8;
    bottom: 5vh;
    position: absolute;
}

.first {
    margin-top: 0px;
    font-size: 60px !important;
}

.menu-box.active {
    right: 0 !important;
}

.menu-btn.active span:first-child {
    transform: rotate(45deg) translate(8px, 15px);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:last-child {
    transform: rotate(-45deg) translate(2px, -8px);
}


/*------bluepage-common---------*/

.seihaiba {
    margin: 0;
    width: 100vw;
    background-image: url(pics/sehaiba.jpg);
    background-attachment: fixed;
    background-position: bottom;
    overflow: hidden;
    padding: 0;

}

.bigwords {
    font-family: 'Noto Serif TC', serif;
    font-size: 100px;
    color: white;
    z-index: 5;
}

.smallword {
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
    color: white;
    z-index: 5;
}

.vt {
    writing-mode: vertical-rl;
}

/*------line---------*/


.line {
    animation: lineappear 2.5s ease 0s 1 normal none, 30s infinite linear 0s normal linesayu;
    z-index: 0;
    position: fixed;
    top: 10vh;
}

.longline {
    height: 1;
    overflow: hidden !important;
    z-index: 0;
}

/*------container1----------*/

.title1 {
    margin: 0px auto;
    margin-top: 15vh;
    margin-bottom: 0;
}

.row2 {
    width: 1000px;
    margin: auto;
}

.fish {
    animation: fishmove 2s ease-out 0s infinite alternate none;
}

.p1 {
    margin-top: 10vh;
}

.pageone {
    z-index: 1;
}

/*------container2----------*/

.pagetwo {
    margin-top: 30vh;
}

.twopics {
    margin-left: 10vw;
    display: inline;

}

.brush {
    z-index: 7;
    position: absolute;
    transform: translateY(-20vh);
    animation: brushmove 3s ease-out 0s infinite alternate none;
    top: 100vw;
    right: 18vw;
    width: 30vw;

}

.twoeel {
    z-index: 6;
    position: absolute;
    width: 50vw;


}

/*------container3----------*/

.pagethree {
    margin-top: 20vh;
}

.can {
    margin-top: 7vh;
    z-index: 10;
}

.p3w2 {
    margin-bottom: 10vh;
}

.ccan {
    transition: all 0.3s ease 0s;
    animation: all 4s ease-out 0s infinite normal none;
}

.ccan:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.9;
}

/*------contacts----------*/

.phonecontact {
    display: none;
}

/*----------------*/

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

/*--RWD--------RWD------*/
/*------RWD-------RWD---*/

@media screen and (max-width:576px) {
    .h_motto {
        font-size: 30px;
        margin-top: 60vh;
        writing-mode: vertical-lr;
    }

    .h_logo {
        width: 75px;
        margin: 0px auto;
        margin-top: 5vh;
        animation: homecanshake 1s ease 0s 2 normal none;
        animation-delay: 2s;
    }

    .h_logo:hover img {
        transform: scale(1.0, 1.0);
        opacity: 1;
        z-index: 10;
    }

    /*--------c1--------*/
    .seihaiba {
        overflow: hidden;
    }

    .bigwords {
        font-size: 40px;
    }

    .title1 {
        margin-top: 10vh;
    }

    .row2 {
        width: 1200px;
    }

    .fish {
        left: -200px;
    }

    .smallword {
        font-size: 20px;
    }

    .p1 {
        margin-top: 0vh;
        line-height: 10px;
        margin-bottom: 5vh;
    }

    /*--------c2--------*/

    .title2 {
        margin-top: 20px;
    }

    .pagetwo {

        margin-top: 0vh;
    }

    .twopics {
        margin-left: 0;
        display: inline;

    }

    .brush {
        margin-top: 5vh;
        width: 60vw;
        top: auto;
        position: absolute;
        border: 0;
        z-index: 7;

    }

    .twoeel {
        margin-top: 15vh;
        width: 90vw;
        position: absolute;
        border: 0;
        z-index: 6;

    }

    .p2word {
        margin-top: 45vh;
        padding-left: 30px;
    }

    /*--------c3--------*/

    .pagethree {
        margin-top: 20vh;
        line-height: 10px;
    }

    .can {
        width: 50vw;
    }

    .p3 {
        display: flex;
        margin-top: 10vh;
        align-content: center;
    }

    .ccan {
        animation: homecanshake 3s ease 0s infinite normal none;
    }

    .p3w2 {
        margin-top: 5vh;
    }

    /*--------line--------*/

    .line {
        animation: lineappear 2.5s ease 0s 1 normal none, 20s infinite linear 0s normal linesayu;
        height: 70vh;
        border: 0;
        transform: translateY(-50vh);
    }

    /*--------menubtn--------*/

    .big_select {
        visibility: hidden;
    }

    /*--------contacts--------*/

    .phonecontact {
        display: block;
        background: #9a974c;
        color: white;
        text-align: center;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 600;
        line-height: 1.2;
        padding: 5vh 0;
        z-index:100;
        
    }

    .phonecontact p {
        margin-bottom: 1vh;
    }


    .firstzi {
        margin-top: 2vh;
    }
    
    .phonecontact a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 600;
        line-height: 1.2;
    }
}

}

/*----------------*/
/*----------------*/
